@charset "UTF-8";
/**
 * Button
 */

.button{
    &,
    &:link,
    &:visited{
        display: inline-block;
        border: 1px solid #555555;
        font-family: "Dosis", sans-serif;
        font-weight: 700;
        font-size: 14px;
        letter-spacing: 1px;
        line-height: 1;
        padding: 15px 25px 14px 25px;
        text-transform: uppercase;
        vertical-align: middle;
        text-align: center;
        transition: all 0.4s ease-in-out 0s;
        position: relative;
        z-index: 1;
        overflow: hidden;
        background: #555555;
        color: #ffffff;
        overflow: hidden;
        position: relative;
        backface-visibility: hidden;

        &[data-content]{
            span{
                opacity: 0;
            }

            &::before{
                content: attr(data-content);
                position: absolute;
                height: 100%;
                width: 100%;
                left: 0;
                top: 0;
                color: #ffffff;
                padding: 15px 25px 14px 25px;
                transform: translateY(-100%);
                transition: all 0.4s ease-out 0s;
                backface-visibility: hidden;
                background: #000000;
            }

            &::after{
                content: attr(data-content);
                position: absolute;
                height: 100%;
                width: 100%;
                left: 0;
                top: 0;
                color: #ffffff;
                padding: 15px 25px 14px 25px;
                transform: translateY(0);
                transition: all 0.4s ease-out 0s;
                backface-visibility: hidden;
                background: transparent;
            }
        }
    }

    &:hover,
    &:active{
        color: #ffffff;
        &[data-content]{
            &::before{
                transform: translateY(0);
            }
            &::after{
                transform: translateY(100%);
            }
        }
    }


    .blocked-button{
        display: block;
        width: 100px;
    }
}


.readmore-button{
    &,
    &:visited,
    &:link{
        display: inline-block;
        color: $heading-color;
        font-weight: 600;
        letter-spacing: 1px;
        font-size: 16px;
    }
    &:hover,
    &:active{
        color: $theme-color;
    }
}