@charset "UTF-8";
/**
 * Section Title
 */

.section-title{
    margin-bottom: 20px;
    h2{
        margin-top: -10px;
		letter-spacing: 0.5px;
		font-weight: 700;
    }   
    p{
        font-size: 18px;
    }
    @media #{$sm-layout}{
        p{
            font-size: 16px;
        }
    }
}

.small-title{
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom: 0;
    padding-bottom: 25px;
    margin-top: -5px;
    span{
        display: inline-block;
        border-bottom: 2px solid #d5d5d5;
        padding-right: 30px;
        padding-bottom: 7px;
    }
    &-fullwidth{
        font-weight: 700;
        letter-spacing: 1px;
        margin-bottom: 0;
        padding-bottom: 25px;
        margin-top: -5px;
        span{
            display: block;
            border-bottom: 1px solid #d5d5d5;
            padding-right: 0;
            padding-bottom: 7px;
        }
    }
}


